<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.iwedia.cltv.platform.model.content_provider.ContentProvider"
            android:authorities="com.iwedia.cltv.sdk.content_provider.ReferenceContentProvider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>