<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Tif permissions -->
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.ACCESS_ALL_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.ACCESS_WATCHED_PROGRAMS" />
    <!--Content aggregator service -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--Advertising Id permission -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <!-- Scan -->
    <uses-permission android:name="com.google.android.tv.dtvinput.permission.INSTALL_TV_CHANNELS" />

    <!-- DtvProvider -->
    <uses-permission android:name="com.google.android.tv.dtvprovider.permission.READ" />
    <uses-permission android:name="com.google.android.tv.dtvprovider.permission.WRITE" />

    <!-- Added permission to support GUIDE key usage for Android 10 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.software.live_tv"
        android:required="true" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="rialto.cltv.fast" android:required="true"/>

    <!-- To collect available launcher app list for giving recommendation thumbnail uri permission -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowClearUserData="false"
        android:name=".ReferenceApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReferenceApplication">

        <activity
            android:name="com.iwedia.cltv.factorymode.FactoryModeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.iwedia.cltv.factorymode.FactoryTvProvider"
            android:authorities="com.iwedia.cltv.factorymode.FactoryTvProvider"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name="com.iwedia.cltv.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.action.FTI"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".TermsOfServiceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:sharedUserId="android.uid.system">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.media.tv.action.SETUP_INPUTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.iwedia.cltv.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.iwedia.cltv.InputSourceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="true">
        </activity>


        <activity android:name="com.iwedia.cltv.scan_activity.IwediaSetupActivity"></activity>


        <service
            android:name=".assistant.ContentAggregatorService"
            android:enabled="true" />

        <receiver
            android:name=".assistant.ContentAggregatorServiceRestarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".assistant.BootupReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.GlobalAppReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter android:priority="100">
                <action android:name="com.iwedia.cltv.intent.action.GLOBAL_BUTTON" />
                <action android:name="android.intent.input_tune" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.android.tv.receiver.GlobalKeyReceiver"
            android:exported="true" >
            <!--
             Not directly related to GlobalKeyReceiver but needed to be able to provide our
            content rating definitions to the system service.
            -->
            <intent-filter>
                <action android:name="android.media.tv.action.QUERY_CONTENT_RATING_SYSTEMS" />
            </intent-filter>
            <meta-data
                android:name="android.media.tv.metadata.CONTENT_RATING_SYSTEMS"
                android:resource="@xml/tv_content_rating_systems" />
        </receiver>

        <!-- To share thumbnail to launcher recommendation -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.iwedia.cltv"
            android:exported="false"
            android:readPermission="true"
            android:writePermission="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- Anoki TIS -->
        <activity
            android:name=".tis.ui.SetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".tis.main.AnokiTvInputService"
            android:exported="true"
            android:permission="android.permission.BIND_TV_INPUT">
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/anokitvinputservice" />
        </service>

    </application>
</manifest>