<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionName="1.0.0">

    <!-- Tif permissions -->
    <uses-permission android:name="android.permission.READ_TV_LISTINGS" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.ACCESS_ALL_EPG_DATA" />
    <uses-permission android:name="android.permission.MODIFY_PARENTAL_CONTROLS"
        tools:ignore="ProtectedPermissions" />

    <!-- DtvProvider -->
    <uses-permission android:name="com.google.android.tv.dtvprovider.permission.READ" />
    <uses-permission android:name="com.google.android.tv.dtvprovider.permission.WRITE" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application>
        <activity
            android:name=".player.PlayerTestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>
