*.iml
*.apk
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
/.idea/*
.DS_Store
/build
/app/mal_service/build/*
/app/iwatsc3/build/
/app/t56/build/*
/libs/GoogleTvInputPlayerApi-repacked.jar
/captures
.externalNativeBuild
.cxx
local.properties
/app/debug/
/app/gretzky/debug/output-metadata.json
/app/gretzky/debug/ReferencePlus_0.0.21.2_gretzky_debug_010622_1551_.apk
/app/gretzky/debug/CommonLiveTv.apk
/.idea/deploymentTargetDropDown.xml


